//imports
@import 'normalize', 'compass/css3/shared';

//variables
$base: #ecf0f1;
$black: #2c3e50;
$green: #2ecc71;
$red: #e74c3c;
$white: #fff;
$yellow: #f1c40f;
//selectors 

* {
	@include experimental(box-sizing, border-box, -moz, -webkit, -o, -ms, -khtml, official);
	outline: 0; 
}

html {
	background: $base;
	color: $black;
	width: 100%;
	height: 100%;
	font-size: 100%;
}

body {
	@extend html;
}

a {
	text-decoration: none;
}

header {
	text-align: center;

	& h1 {
		margin-top: 0;
	}
}

input {
	border: 0;
	width: 100%;
	border-radius: 3px;
	padding: 5px;

	&[type=submit] {
		background: $green;
		color: $white;
		text-transform: uppercase;
	}

	&[type=text],
	&[type=password] {
		border: solid 1px darken($base, 10%);
	}

	&.error {
		border: solid 1px $red;
		background: lighten($yellow, 50%);
	}
}

table {
	width: 100%;

	& thead {
		border-bottom: solid 2px $black;
		font-weight: bold;
	}

	& tr {

		&.bg-red {
			background: adjust_color($red, $alpha:-0.9);
		}

		&.bg-yellow {
			background: adjust_color($yellow, $alpha:-0.9);
		}

		&.sum {
			border-top: solid 1px $black;
		}
	}

	& td {
		padding: 5px;

		&:nth-child(1) {
			width: 10%;
			text-align: right;
		}

		&:nth-child(3) {
			text-align: right;
		}
	}
}

.center-all {
	position: absolute;
	left: 50%;
	top: 50%;
	@include experimental(transform, translate(-50%,-50%), -moz, -webkit, -o, -ms, -khtml, official);
}

.controls-group {
	width: 90%;
	max-width: 200px;
	margin: 0 auto;

	& .control {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.circle {
	border-radius: 50%;
	color: $white;
	display: block;
	height: 200px;
	margin: 0 auto 20px auto;
	width: 200px;

	& span {
		display: inline-block;
		margin: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		@include experimental(transform, translate(-50%,-50%), -moz, -webkit, -o, -ms, -khtml, official);
		font-size: 1.5em;
		max-width: 150px;
		width: 100%;
		text-align: center;
	}
}

.detail {
	color: $white;
	display: block;
	margin-bottom: 15px;

	& span {
		display: block;
		padding: 5px;

		&.date {
			@extend .fl;
			background: $black;
			color: $white;
			width: 20%;
			text-transform: uppercase;
			text-align: center;
		}

		&.spendings {
			@extend .fl;
			@extend .txt-right;
			width: 80%;
		}
	}

		
}

.fl {
	float: left;
}

.green {
	background: $green;
}

.red {
	background: $red;
}

.yellow {
	background: $yellow;
}

.pr {
	position: relative;
}

.txt-bold {
	font-weight: bold;
}

.txt-green {
	color: $green;
}

.txt-red {
	color: $red;
}

.txt-right {
	text-align: right;
}

.txt-yellow {
	color: $yellow;
}

.wrapper {
	width: 96%;
	margin: 0 auto;
	padding: 20px 0;
}

.wrapper-details {
	margin-bottom: 30px;
}